@import url('https://fonts.googleapis.com/css2?family=Atma&family=Dancing+Script:wght@400;700&family=Delius+Swash+Caps&family=Farsan&family=Kalam:wght@300;400&family=Londrina+Shadow&family=Oooh+Baby&family=Poller+One&family=Rancho&family=Satisfy&display=swap');


.home-resort {
    width: 100%;
}

.middleTitleTxt {
    font-size: 3em;
    font-family: 'Oooh Baby', cursive;
}

.cont1 {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4em;
    font-weight: bold;
    width: 100%;
}

/* Beginning of the first paragraph and pic combo container */
.container1, .container2, .container3 {
    width: 100%;
    /* background-color: rgb(196, 102, 196); */
    /* margin-top: 300px; */
}

.txtcont1 {
    display: inline-block;
    width: 40%;
    background-color: rgb(90, 206, 201);
    border-radius: 20px;
    box-shadow: 0px 5px 18px 20px rgb(90, 206, 201);
    font-size: xx-large;
    /* margin: 15px 55px 0 0; */
    margin: 1.7% 3% 0 0;
}

.img-div1, .img-div2, .img-div3 {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.home-resort2, .home-resort3, .home-girlstrip {
    width: 100%;
    display: inline-block;
    box-shadow: 7px 7px 10px grey;
    border-radius: 5px;
}

/* End of container1 */


/* Beginning of container2 */

.txtcont2 {
    display: inline-block;
    width: 40%;
    margin: 1% 0 0 5%;
    background-color: rgb(250, 159, 66);
    vertical-align: top;
    border-radius: 20px;
    box-shadow: 0px 5px 18px 20px rgb(250, 159, 66);
    font-size: x-large;
}

.home-h2 {
    font-family: 'Poller One', cursive;
}
/* End of container2 */


/* Beginning of container3 */

/* .home-girlstrip {
    width: 100%;
} */

.txtcont3 {
    display: inline-block;
    width: 18%;
    margin: 3% 3% 0 3%;
    background-color: rgb(141, 214, 122);
    vertical-align: top;
    border-radius: 20px;
    box-shadow: 0px 5px 18px 20px rgb(141, 214, 122);
    font-size: larger;
}

/* End of container3 */


.bottomTxt {
    margin-top: 30px;
}




@media screen and (max-width: 548px) {
    .centered {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 781px) {
    .txtcont1 {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .txtcont2 {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 90px;
    }
}
