
/* To change the background of a single page */
/* .userbg {
    background-color: darkolivegreen;
    min-height: 100vh;
} */


.user-header {
    /* background-color: rgb(153, 245, 214); */
    margin-top: 70px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(37, 179, 171);
    /* box-shadow: 0px 5px 18px 20px rgb(37, 179, 171); */
    border-radius: 40px;
}

.pic-section {
    display: inline-block;
    /* background-color: white; */
    width: 25%;
    height: 200px;
    border-radius: 100px;
    margin-right: 20px;
}

/* .pic-section img {
    width: 120%;
} */

.user-detail-section {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-left: 10px;
    /* background-color: orchid; */
}

.user-detail-section button {
    width: 90px;
    height: 30px;
    border-radius: 50px;
    border: 0;
}

.msgbtn {
    margin-left: 30px;
}

.user-detail-section h3, p {
    margin: 8px;
    text-align: left;
}


@media screen and (max-width: 740px) {
    .pic-section {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 100%;
    }
    .user-detail-section {
        width: 100%;
    }
}

